:host {
  display: block;
  height: 100vh;
  font-family: "Segoe UI", Roboto, Arial, sans-serif;
}

.app-root {
  display: flex;
  height: 100%;
  background: #f4f4f6;
}

.sidebar {
  width: 230px;
  min-width: 200px;
  height: 140vh;
  background: #1f1f23;
  color: #fff;
  padding: 24px 18px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;
}

.classroom label {
  font-size: 11px;
  color: #9a9aa0;
  display: block;
  margin-bottom: 6px;
}

.classroom select {
  width: 100%;
  padding: 6px 8px;
  border-radius: 6px;
  border: none;
  background: #fff;
  color: #111;
}

main{
  flex: 1;
  padding: 18px 28px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.calendar-area {
  flex: 1;
  background: transparent;
  display: flex;
  margin-top: 6px;
}

.ng-calendar-wrapper {
  width: 100%;
  height: 720px;
  border-radius: 8px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.06);
  overflow: hidden;
}

.event-template {
  background-color: #d6c5ea;
  border: 2px solid #856dc0;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
  font-size: 12px;
}
